body{
    margin: 0px;
    padding: 0px;
    color: #efefef;
}
@media (max-width: 768px) {
    body {
      background-color: rgb(223, 202, 15);
    }
    /* Otros estilos para tablets */
  }
@media(max-width: 375px) {
    body {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0; /* Remueve el margen predeterminado */
        /*text-align: center;
         width: 375px;
        height: 812px; */
} */
}
nav{
    background: #000;
}
header nav li {
    background-color: red;
    display: inline-block;
    text-align: right;
    margin: 8px;
}
nav ul li a{
    text-decoration: none;
}
img{
    width: 5rem;
    display: inline-block;
    float: left;
    
}
.logoNav{
  width: 1rem;
  height: 30rem;
  display: inline-block;
  float: left;
  
}
  .velo{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0));
    position:absolute;
    z-index: 20px;
}
  img {
    display: block; /* Las imágenes son elementos en línea por defecto */
    max-width: 100%; /* Hace que la imagen sea responsive */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  h1{
    color: #FFF;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.75rem;
  }
  h2{
    color: #FFF;
    text-align:center;
    font-family: 'Tangerine';
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.74px;
  }
    section {
    background: 
        linear-gradient(to bottom, #333333, rgba(0,0,0,0)),    
        url('../Assets/Images/bgOnboarding.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: auto;
    flex-shrink: 0;
    padding: 50px;
    
}
#logo {
    width: 10rem;
}
.promo{
    clip-path: circle(50% at 50% 50%);
    border-radius: 290px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.00) 0%, rgba(254, 254, 254, 0.36) 100%);
    box-shadow: 0px 4px 50.9px 0px rgba(0, 0, 0, 0.25) inset;
}
div.promo{
    background-color: #fff;
    clip-path: circle(50% at 50% 50%);
}