/*--------------->Secciones<-----------*/
body{
    margin: 0px;
    padding: 0px;
    color: #e0e0e0;
}
nav{
  background: #333;
  padding: 0.125rem;
  position: relative;
  z-index: 3;
}
nav li {
  /* background-color: red; */
  display: inline-block;
  text-align: right;
  margin: 8px;
  float: right;
}
li a{
  text-decoration: none;
  color: #fafafa;
}
section{

}
section {
  background:
      
  /* object-fit: cover; */
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  width: 100vw;
  height: auto;
  /* flex-shrink: 0; */
  /* padding: 50px; */
  margin: 0px;

  
}

/*--------------->Media Queries<-----------*/
@media (max-width: 768px) {
    body {
      background-color: rgb(223, 202, 15);
    }
    /* Otros estilos para tablets */
  }
@media(max-width: 375px) {
    body {
        /* display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0; /* Remueve el margen predeterminado */
        /*text-align: center;
         width: 375px;
        height: 812px; */
    }
  }
/*------------------>ids y classes<---------------*/

#logoNav{
  width: 2.75rem;
  height: auto;
  float: left;
  margin:  .75rem 1rem  1rem 2rem;
}
#logoHero {
  width: 20rem;
  position: absolute;
  z-index: 1;
  left: 50vw;
  top: 10%;
  align-content: center;
  /* background: #000; */
}
.velo{
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0)); */
  background: linear-gradient(to bottom, #333333, rgba(0,0,0,0));
  width: 100vw;
  position:relative;
}
.servicio{
  width: 5rem;
  height: 15rem;
}
/* .pagina1{
  padding: 10px;
} */
/* ------------->Imagen<--------------- */

  img {
    display: block; /* Las imágenes son elementos en línea por defecto */
    max-width: 100%; /* Hace que la imagen sea responsive */
    height: auto; /* Mantiene la relación de aspecto de la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
  }
  #imgOnBoard{
    display: inline-block;
    position: relative;
    z-index: -2;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    width: 100%;
    
  }
 

  h1{
    color: #FFF;
    text-align: center;
    font-family: 'ABeeZee', sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.75rem;
  }
  h2{
    color: #FFF;
    text-align:center;
    font-family: 'Tangerine';
    font-size: 41px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.74px;
  }
    



/* ---------------->Promos<--------------- */

.promo{
    clip-path: circle(50% at 50% 50%);
    border-radius: 290px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.00) 0%, rgba(254, 254, 254, 0.36) 100%);
    box-shadow: 0px 4px 50.9px 0px rgba(0, 0, 0, 0.25) inset;
}
div.promo{
    background-color: #fff;
    clip-path: circle(50% at 50% 50%);
}
#ofertaLanzamiento{
  display: none;
}
/* ---------------->Servicios<--------------- */
.servicio{
  width: 11rem;
  background: #fafafa;
  color: #333;
  padding: 1rem;
  border-radius: 5px;
  margin: 10px;
  float: left;
}
.imgServicio{
  margin-top: -0.75rem;
  overflow: hidden;
  object-fit: cover;

}
